<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Add Movie</title>
</head>

<body>
    <h2>Add a Movie</h2>
    <form method="POST" action="/movies/add">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <br>
        <label for="director">Director:</label>
        <input type="text" id="director" name="director">
        <br>
        <label for="year">Year:</label>
        <input type="number" id="year" name="year">
        <br>
        <label for="genre_1">Genre 1:</label>
        <input type="text" id="genre_1" name="genre_1">
        <br>
        <label for="genre_2">Genre 2:</label>
        <input type="text" id="genre_2" name="genre_2">
        <br>
        <button type="submit">Add Movie</button>
    </form>
</body>

</html>